{% load static %}
<div class="container-xxl">
<div class="footer-banner ps-xxl-5 pe-xxl-5 ps-xl-5 pe-xl-5">
<div class="container-xxl">

    <div class="row">

        <div class="col-lg-8 col-md-12 left-foot pt-3 pb-1">
        
        <div class="row">
        
        <div class="col-lg-7 col-md-12 d-flex justify-content-center align-items-center">
        <span class="d-flex justify-content-center align-items-center">
        <i class="fa fa-calendar foot-i"></i>
        </span>
        <div class="foot-content d-flex flex-column justify-content-center ms-4">
          <h4>Make an Appointment</h4>
          <p>Call <b>+91 81388 62626</b> or click Book Now to secure your appointment.</p>
        </div>
                        
        </div>
        
        
        <div class="col-lg-5 col-md-12 d-flex justify-content-center align-items-center">
          <a href="/appointment/">
            <button type="button" class="btn btn-primary rounded-pill ps-4 pe-4 intro-btn mt-4 mb-4 foot-btn">Book Now</button>
          </a>
        </div>
        
        </div>
        
        </div>
        
        
        
        <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center right-foot pt-4 pb-3 ">
          <span class="d-flex justify-content-center align-items-center">
          <i class="fa fa-stopwatch foot-i"></i>
          </span>
        <div class="emg-content ms-4">
          <h4>Opening Hours</h4>
          <h6>Mon - Sat : 6:30pm to 6:00pm <br>
            Sun : 6:30am - 12:30pm</h6>
        </div>
        </div>
        
        
        </div>
        


        <div class="footer-links p-lg-3">

            <div class="row mt-5">

                <div class="col-lg-2 col-md-3 col-sm-3 footer-logo">
                  <img src="{% static 'img/gmrl-footer-logo.svg' %}" alt="" class="img-fluid">
                </div>
                
                <div class="col-lg-2 col-md-2 footer-links quick">
                  <ul type="none">
                    <li><h4 class="text-black">Quick Links</h4></li>
                    <li class="mt-4"><a href="../" class="f-link">Home</a></li>
                    <li class="mt-2"><a href="/about/" class="f-link">About Us</a></li>
                    <li class="mt-2"><a href="/package/" class="f-link">Packages</a></li>
                    <li class="mt-2"><a href="/test/" class="f-link">Tests</a></li>
                    <li class="mt-2"><a href="/gallery/" class="f-link">Gallery</a></li>
                    <li class="mt-2"><a href="/blog/" class="f-link">Blog</a></li>
                    <li class="mt-2"><a href="" class="f-link">Testimonials</a></li>
                    <li class="mt-2"><a href="/branch/" class="f-link">Branches</a></li>
                    <li class="mt-2"><a href="/contact-us/" class="f-link">Contact Us</a></li>
                    <li class="mt-2"><a href="" class="f-link">Privacy Policy</a></li>
                    <li class="mt-2"><a href="" class="f-link">Terms & Conditions</a></li>
                  </ul>
                </div>

                <div class="col-lg-2 col-md-2 footer-links department">
                    <ul type="none">
                      <li><h4 class="text-black">Departments</h4></li>
                      <li class="mt-4"><a href="/department/" class="f-link">Pathology</a></li>
                      <li class="mt-2"><a href="/department/" class="f-link">Biochemistry</a></li>
                      <li class="mt-2"><a href="/department/" class="f-link">Microbiology</a></li>
                      <li class="mt-2"><a href="/department/" class="f-link">Serology</a></li>
                      <li class="mt-2"><a href="/department/" class="f-link">Immunology</a></li>
                      <li class="mt-2"><a href="/department/" class="f-link">Radiology</a></li>
                      <li class="mt-2"><a href="/department/" class="f-link">Moleculor Biology</a></li>
                    
                    </ul>
                  </div>
                
                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-4 footer-links pack">
                  <ul type="none">
                    <li><h4 class="text-black">Our Packages</h4></li>
                    <li class="mt-4"><a href="/executive-package/" class="f-link">Executive Package</a></li>
                    <li class="mt-2"><a href="/ayush-general/" class="f-link">Ayush General</a></li>
                    <li class="mt-2"><a href="/ayush-silver-plan/" class="f-link">Ayush Silver Plan</a></li>
                    <li class="mt-2"><a href="/ayush-diabetic/" class="f-link">Ayush Diabetic & Kidney Care</a></li>
                    <li class="mt-2"><a href="/ayush-gold/" class="f-link">Ayush Gold</a></li>
                    <li class="mt-2"><a href="/cardiac/" class="f-link">Advanced Cardiac Risk Cover Package</a></li>
                  </ul>
                </div>
                
                
                <div class="col-lg-3 col-md-5  col-sm-5 touch">
                  <ul type="none">
                    <li><h4 class="text-black">Get in Touch</h4></li>
                    <li class="mt-4"><a href="">GMRL Laboratories Chambakkara, Ernakulam, Ernakulam - 682011</a></li>
                    <li class="mt-3"><a href="">+91 81388 62626</a></li>
                    <li class="mt-3"><a href="">0484 0000 0000</a></li>
                    <li class="mt-3"><a href="">info@gmrllabs.com</a></li>
                    <li class="mt-4 pt-2 footer-icons"><a href="">
                      <i class="fa fa-facebook facebook"></i>
                      <i class="fa fa-twitter twitter ms-lg-3 ms-md-2 ms-sm-2"></i>
                      <i class="fa fa-linkedin linkedin ms-lg-3 ms-md-2 ms-sm-2"></i>
                      <i class="fa fa-instagram instagram ms-lg-3 ms-md-2 ms-sm-2"></i>
                      <i class="fa fa-youtube-play youtube ms-lg-3 ms-md-2 ms-sm-2"></i>
                    </a></li>
                    
                  </ul>
                </div>
                
                
                
                </div>
                
                </div>
</div>   
</div>
</div>
                <div class="mt-5 p-2 foot-copy" style="background-color: #d9dde9">
                    <div class="copy-con d-flex justify-content-between ps-3 pe-3">
                  <p class="copyright-p text-center mt-2">© 2024 GMRL Labs. All Right Reserved.</p>
                  <p class="copyright-p text-center mt-2">Crafted by <a href="">Ooly Web Studio</a></p>
                    </div>
                </div>
                

        </div>
        

</div>