<!doctype html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <title>Bootstrap demo</title> -->
    <title>Best laboratory in Ernakulam</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/gmrl-logo.svg.jpg' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@11/-bundle.min.css"/>
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  </head>
  <body>
    
<!-- introduction start -->
<section class="introduction-section">
 
  
  <div class="row">


<!-- introduction row col-1 start -->
<div class="col-lg-6 col-md-12">

<div class="container intro-caption">

<h1 class="intro-heading">
Packages
</h1>
<p class="intro-p mt-4">
  Explore affordable Health Check Up packages at GMRL Labs, Tripunithura,
  ensuring precision and well-being with advanced analyzers.
</p>
</div>


</div>
  <!-- introduction row col-1 end -->

  <!-- introduction row col-2 start -->
<div class="col-lg-6 col-md-12 intro-img-sec">
  <img src="{% static 'img/banner2.jpg' %}" alt="" style="z-index: 1050;opacity: 1;" class="img-fluid">
</div>
  <!-- introduction row col-2 end -->

 </div>


<header>
{% include 'header.html' %}
</header>


</section>
<!-- Introduction end -->


<!-- gallery image start -->

<section class="gallery container-lg mt-5 pt-5 mb-5 pb-5">


<div class="row">


<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
  <a href="{% static 'img/g1.jpg' %}" data-lightbox="gallery">
    
    <img src="{% static 'img/g1.jpg' %}" alt="" class="gallery-img"></a>

</div>


<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 image">
  <a href="{% static 'img/g2.jpg' %}" data-lightbox="gallery"><img src="{% static 'img/g2.jpg' %}" alt=""></a>
  
  </div>

<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 image">
  <a href="{% static 'img/g3.jpg' %}" data-lightbox="gallery"><img src="{% static 'img/g3.jpg' %}" alt=""></a>
  
  </div>

<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 image">
  <a href="{% static 'img/g4.jpg' %}" data-lightbox="gallery"><img src="{% static 'img/g4.jpg' %}" alt=""></a>
  
  </div>

<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 image">
  <a href="{% static 'img/g5.jpg' %}" data-lightbox="gallery"><img src="{% static 'img/g5.jpg' %}" alt=""></a>
  
  </div>

<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 image">
  <a href="{% static 'img/g6.jpg' %}" data-lightbox="gallery"><img src="{% static 'img/g6.jpg' %}" alt=""></a>
  
  </div>

<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 image">
  <a href="{% static 'img/g7.jpeg' %}" data-lightbox="gallery"><img src="{% static 'img/g7.jpeg' %}" alt=""></a>
  
  </div>

<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
  <a href="{% static 'img/g8.jpg' %}" data-lightbox="gallery"><img src="{% static 'img/g8.jpg' %}" alt=""></a>
  
  </div>

<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
  <a href="{% static 'img/g9.jpg' %}" data-lightbox="gallery"><img src="{% static 'img/g9.jpg' %}" alt=""></a>
  
  </div>

<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
  <a href="{% static 'img/g10.jpg' %}" data-lightbox="gallery"><img src="{% static 'img/g10.jpg' %}" alt=""></a>
  
  </div>

<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
  <a href="{% static 'img/g11.jpeg' %}" data-lightbox="gallery"><img src="{% static 'img/g11.jpeg' %}" alt=""></a>
  
  </div>



</div>



</section>


<!-- gallery image end -->


<footer class="mt-5">
    {% include 'footer.html' %}
  </footer>
  <a href=""><i class="fa fa-whatsapp whatsapp-icon"></i></a>
  <script src="https://cdn.jsdelivr.net/npm/@11/-bundle.min.js"></script>
  
  
  <script src="{% static 'js/script.js' %}"></script>
  
      <script src="https://cdn.jsdelivr.net/npm/@11/-bundle.min.js"></script>
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
  </html>