{% load static %}

<!-- Navigation-bar-1 start -->
<div class="navigation-bar-1 d-flex justify-content-center align-items-center">


  <div class="header-links">
    <div class="container-fluid-lg">
      <div class="row">
  
  
        <div class="col-lg-6 col-md-6">
          <ul type="none" class="social-media">
            <li class="ps-3 pe-3">
              <i class="fa fa-facebook"></i>
            </li>
            <li class="ps-3 pe-3"><i class="fa fa-twitter"></i></li>
            <li class="ps-3 pe-3"><i class="fa fa-linkedin"></i></li>
            <li class="ps-3 pe-3"><i class="fa fa-instagram"></i></li>
          </ul>
        </div>
  
        <div class="col-lg-6 col-md-6">
          <!-- <a href="fsdh">click</a> -->
          <!-- <form action="sdhgdh" method="post">
            <input type="submit" name="" id="">
          </form> -->

          <a href="/appointment/" class="make-appointment">Make An Appointment</a>
        </div>
  
  
      </div>
    </div>
  </div>









  
  <nav class="navbar navbar-expand-lg navbar-expand-md bg-white shadow p-lg-3 mb-5 bg-body container-lg mt-5 ">

    
    
    
    
    
    
    
    
    <div class="container-fluid">
      <div class="container">
          <a class="navbar-brand" href="../">
            <img src="{% static 'img/gmrl-logo.svg' %}" alt="Bootstrap" width="305" height="65">
          </a>
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon nav-i"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1">

            <li class="nav-item about">
              <a class="nav-link ps-lg-3 pe-lg-3" href="/about/">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ps-lg-3 pe-lg-3" href="/test/">TESTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ps-lg-3 pe-lg-3" href="/package/">PACKAGES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ps-lg-3 pe-lg-3" href="/blog/">BLOG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ps-lg-3 pe-lg-3" href="/gallery/">GALLERY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ps-lg-3 pe-lg-3" href="/branch/">BRANCHES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ps-lg-3 pe-lg-3" href="/contact-us/">CONTACT US</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link ps-lg-3 pe-lg-3" href="../index/">LOGIN</a>
            </li> -->
           
              </ul>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
  </nav>
</div>

<!-- Navigation-bar-1 end -->



<!-- Navigation-bar-2 start -->
<div class="navigation-bar-2 hidden">
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="container">
      <a class="navbar-brand" href="../">
        <img src="{% static 'img/gmrl-logo.svg' %}" alt="Bootstrap" width="306" height="65">
      </a>
    </div>
    <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon nav-i"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ms-auto">
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/about/">ABOUT US</a>

          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/test/">TESTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/package/">PACKAGES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/blog/">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/gallery/">GALLERY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/branch/">BRANCHES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="/contact-us/">CONTACT US</a>
          </li>
         
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</nav>
</div>

<!-- Navigation-bar-2 end -->


