<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Best laboratory in Ernakulam</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/gmrl-logo.svg.jpg' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>


   <!-- introduction start -->
   <section class="introduction-section">
 
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false" data-bs-interval="4000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row car">


  <!-- introduction row col-1 start -->
  <div class="col-lg-6 col-md-12">

      <div class="container intro-caption mb-4">
      
      <h1 class="intro-heading">
          Unlocking Vital <br>
      Insights: Your Blood, Your Lab
      </h1>
      <p class="intro-p mt-4">
          Unlocking Vital Insights: Where Your Blood Holds the Key to Your <br>
      Health – Welcome to Your Trusted Laboratory.
      </p>
      <a href="/contact-us/">
      <button type="button" class="btn btn-primary rounded-pill ps-4 pe-4 intro-btn mt-4 mb-5">Learn More</button>
    </a>
      </div>
       
      
      </div>
          <!-- introduction row col-1 end -->
      
          <!-- introduction row col-2 start -->
      <div class="col-lg-6 col-md-12 intro-img">
          <img src="{% static 'img/banner-01.jpg' %}" alt="" style="z-index: 1050;opacity: 1;">
      </div>
          <!-- introduction row col-2 end -->



          </div>
        </div>
        <div class="carousel-item">
         <div class="row">



<!-- introduction row col-1 start -->
<div class="col-lg-6 col-md-12">

  <div class="container intro-caption mb-5">
  
  <h1 class="intro-heading">
      Your Journey to <br>
      Wellness: Precision Diagnostics, <br>
      Compassionate Care.
  </h1>
  <p class="intro-p mt-4">
      Experience excellence in healthcare at our state-of-the-art lab, <br>
  where precision meets compassion for your well-being.
  </p>
  <a href="/contact-us/">
  <button type="button" class="btn btn-primary rounded-pill ps-4 pe-4 intro-btn mt-4 mb-5">Learn More</button>
  </a>
  </div>
  
  
  </div>
      <!-- introduction row col-1 end -->
  
      <!-- introduction row col-2 start -->
  <div class="col-lg-6 intro-img">
      <img src="{% static 'img/banner-02.jpg' %}" alt="">
  </div>
      <!-- introduction row col-2 end -->
  

         </div>
        </div>
       
      </div>
    </div>
   </section>
   
   
<!-- marquee section start -->

<div class="container marquee-section position-absolute bottom-0 start-50 translate-middle-x">

  <div class="scroll row">


    <div class="col-lg-3 scroll-left">
    <h3 class="scroll-h text-center mt-2"> <i class="fa fa-bullhorn"></i> News & Events</h3>
    </div>


    <div class="col-lg-9 scroll-right">
    <marquee behavior="" direction="left" scrollamount="10">
       
        <p class="marq mt-3">Stay Updated with GMRL: Exciting News and Events Await! Explore the latest in health breakthroughs, special promotions, and community engagements right here. Check back often for updates that keep you informed and inspired.</p>
    </marquee>
    </div>
</div>


</div>


<!-- marquee section end -->


<header>
  
  
  {% include 'header.html' %}
</header>

 
   <!-- Introduction end -->
   
   <div class="header-links">
    <div class="container-fluid-lg">
      <div class="row">
  
  
        <div class="col-lg-6 col-md-6">
          <ul type="none" class="social-media">
            <li class="ps-3 pe-3">
              <i class="fa fa-facebook"></i>
            </li>
            <li class="ps-3 pe-3"><i class="fa fa-twitter"></i></li>
            <li class="ps-3 pe-3"><i class="fa fa-linkedin"></i></li>
            <li class="ps-3 pe-3"><i class="fa fa-instagram"></i></li>
          </ul>
        </div>
  
  <div class="col-lg-6 col-md-6">
    <a href="/appointment/" class="make-appointment">Make An Appointment</a>
  </div>
  
  
      </div>
    </div>
  </div>



<!-- Welcome-section start -->
<section class="welcome-section pt-5 mt-5 pb-5">


  <div class="container-lg p-xxl-5 p-xl-5">
      <!-- welcome row start -->
  <div class="row gx-5">
  
  <div class="col-lg-4 col-md-12 welcome-img">
      <img src="{% static 'img/welcome-image.jpg' %}" alt="" class="img-fluid rounded">
  </div>
  

  <div class="col-lg-7 col-md-12 wel-con ps-lg-1">
      <h6 style="color: blue;">Welcome to GMRL Labs</h6>
      <h2 class="welcome-h2">Elevating Health Through <br>
          Precision Diagnostics: GMRL Laboratories</h2>
          <p class="mt-5 welcome-caption">Welcome To GMRL Laboratories</p>
          <p class="mt-4 welcme-p">Best Laboratory in Ernakulam, a beacon of healthcare excellence situated in the heart of Thrippunithura. Our commitment is to bring you comprehensive and affordable Health Check-Up Packages, ensuring your well-being is our top priority.</p>
          <p class="mt-5 welcome-caption">Cutting-edge Technology for Accurate Results</p>
          <p class="mt-4 welcme-p">At GMRL Laboratories, our state-of-the-art facility is equipped with fully automated analyzers, demonstrating our dedication to excellence. Additionally, these analyzers undergo daily verification against Biorad USA Quality Controls, assuring you not only accuracy but also reliability in every diagnostic result. Moreover, we understand the significance of your health, and our stringent quality assurance practices reflect our commitment to providing the best possible care.</p>
          <p class="mt-5 welcome-caption">Guiding You Through Your Health Journey</p>
          <p class="mt-4 welcme-p">Our team of dedicated professionals is here to guide you through every step of your health assessment journey. With a mission to provide the highest standard of care and convenience, we ensure that your experience at GMRL Laboratories is both seamless and empowering. Your health is not just a diagnosis to us; it’s a journey, and we’re honored to be your trusted partner on the path to a healthier, happier life.</p>
          <p class="mt-5 welcome-caption">The Human Touch in Healthcare</p>
          <p class="mt-4 welcme-p">What sets us apart is not just our advanced technology but the human touch we bring to healthcare. We believe in creating a supportive environment where you feel informed and cared for. Furthermore, from precise testing to comprehensive health assessments, we strive to make your experience with GMRL Laboratories both enriching and reassuring.</p>
          <p class="mt-5 welcome-caption">Looking Ahead with Innovation</p>
          <p class="mt-4 welcme-p">As we look ahead, our commitment to innovation and excellence remains unwavering. We understand that a proactive approach to healthcare is essential. Therefore, we are here to empower you with the knowledge and insights needed to make informed decisions about your well-being.</p>
          <p class="mt-5 welcome-caption">Choose GMRL Laboratories for Optimal Health</p>
          <p class="mt-4 welcme-p">Best laboratory in Ernakulam for a healthcare experience that goes beyond expectations – where cutting-edge technology meets compassionate care. Your journey to optimal health begins with us, and we’re excited to be a part of it. Trust <a href="../">GMRL Laboratories</a>, where your health is our passion, and your well-being is our commitment.</p>
          <a href="/contact-us/">
          <button type="button" class="btn btn-primary rounded-pill ps-4 pe-4 intro-btn mt-4">Learn More</button>
          </a>
  </div>
  
  </div>
  
  </div>
      <!-- welcome row end -->
  
      <div class="image-flip mt-5">

<a href="/appointment/">
        <div class="flip b pt-4 pb-4">
           <div class="flip-container">
             <img width="74" height="74" src="https://img.icons8.com/external-others-pike-picture/74/666666/external-calendar-health-checkup-medical-others-pike-picture-3.png" alt="external-calendar-health-checkup-medical-others-pike-picture-3" class="first">
             <img width="74" height="74" src="https://img.icons8.com/external-others-pike-picture/74/85ba32/external-calendar-health-checkup-medical-others-pike-picture-3.png" alt="external-calendar-health-checkup-medical-others-pike-picture-3" class="second"/>
           </div>
           <div class="flip-content">
               <h6>Book an Appointment</h6>
             </div>
       </div>
</a>     
      
<a href="/contact-us/">
       <div class="flip b pt-4 pb-4 reach">
           <div class="flip-container">
             <img width="64" height="64" src="https://img.icons8.com/quill/64/666666/place-marker.png" alt="place-marker" class="first"/>
             <img width="64" height="64" src="https://img.icons8.com/quill/64/85ba32/place-marker.png" alt="place-marker" class="second"/>
           </div>
         <div class="flip-content">
         <h6>Reach US</h6>
       </div>
       </div>
</a>   
     
<a href="/package/">
       <div class="flip b pt-4 pb-4">
           <div class="flip-container">
             <img width="64" height="64" src="https://img.icons8.com/dotty/64/666666/doctors-bag.png" alt="doctors-bag" class="first"/><img width="64" height="64" src="https://img.icons8.com/dotty/64/85ba32/doctors-bag.png" alt="doctors-bag" class="second"/>
           </div>
                 <div class="flip-content">
                 <h6>Health Packages</h6></div>
               </div>
</a>    
       
<a href="/test/">
       <div class="flip b pt-4 pb-4">
           <div class="flip-container">
           <img width="64" height="64" src="https://img.icons8.com/ios/64/666666/microscope.png" alt="microscope" class="first"/> <img width="64" height="64" src="https://img.icons8.com/ios/64/85ba32/microscope.png" alt="microscope" class="second"/>
           </div>
                 <div class="flip-content">
                 <h6>Available Tests</h6></div>
         
       </div>
</a>
    
<a href="/appointment/">
       <div class="flip pt-4 pb-4 ps-sm-5 pe-sm-5 home">
           <div class="flip-container">
           <img width="64" height="64" src="https://img.icons8.com/ios/64/666666/home--v1.png" alt="home--v1" class="first"/> <img width="64" height="64" src="https://img.icons8.com/ios/64/85ba32/home--v1.png" alt="home--v1" class="second"/>
           </div>
                 <div class="flip-content">
                 <h6>Home Visit</h6></div>
       </div>
</a>
        
        </div>
       
   
</section>
<!-- Welcome-section end -->
  

<!-- Department section start -->


<section class="dept-section pt-5 position-relative pb-5">

  <h2 class="dept-head text-center mt-5">Diverse Departments <br>
      for Comprehensive Health Services</h2>
  
  <!-- image slide start -->
  
        <!-- carousel-1 start -->
  
  <div class="carousel-1 container-fluid pt-5 pb-5">
  
     
     
      <!-- image slide start -->
      
      <div class="container swiper review-container d-flex justify-content-center">
        <div class="slide-container-1">
          <div class="swiper-wrapper">
      
            <div class="swiper-slide">
              <a href="../" class="text-black">
                <li class="d-flex flex-column align-items-center swipe-li bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="{% static 'img/pathology.png' %}"/>
                    <span class="mt-4 co">Pathology</span></li>
              </a>
            </div>
      
            <div class="swiper-slide">
              <a href="../" class="text-black">
                <li class="d-flex flex-column align-items-center swipe-li bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="{% static 'img/Serology.png' %}"/><span class="mt-4 co">Serology</span></li>
              </a>
            </div>
      
            <div class="swiper-slide">
              <a href="../" class="text-black">
                <li class="d-flex flex-column swipe-li align-items-center bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="{% static 'img/Immunology.png' %}" alt="external-immunity-virus-mutation-wanicon-lineal-wanicon"/><span class="mt-4 co">Immunology</span></li>
              </a>
            </div>
      
            <div class="swiper-slide">
              <a href="../" class="text-black">
                <li class="d-flex flex-column swipe-li align-items-center bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="{% static 'img/radiology.png' %}" alt="external-radiology-science-outline-outline-black-m-oki-orlando"/><span class="mt-4 co">Radiology</span></li>
              </a>
            </div>
            
            <div class="swiper-slide">
              <a href="../" class="text-black">
                <li class="d-flex flex-column swipe-li align-items-center bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="{% static 'img/molecular-biology.png' %}" alt="peptide"/><span class="mt-4co">Moleculor Biology</span></li>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="../" class="text-black">
                <li class="d-flex flex-column swipe-li align-items-center bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="{% static 'img/bio-chemistry.png' %}" alt="external-biochemistry-biochemistry-outline-others-phat-plus-20"/><span class="mt-4 co">Bio Chemistry</span></li>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="../" class="text-black">
                <li class="d-flex flex-column swipe-li align-items-center bg-white shadow-sm mb-5 bg-body rounded swiper-slide justify-content-center"><img width="120" height="120" src="{% static 'img/microbiology.png' %}" alt="external-microbiology-vaccine-and-laboratory-kosonicon-outline-kosonicon"/><span class="mt-4 co">Microbiology</span></li>
              </a>
            </div>
    
    
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-1"></div>
      </div>
      
      
      <!-- image slide end -->
      
      </div>
      
      
    <!-- image slide end -->
    
    
    <div class="emergency-banner mt-5 pt-5">
  
  <div class="container-lg position-absolute top-100 start-50 translate-middle">
  
  <div class="row">
  
  <div class="col-lg-8 left-emg pt-4 pb-3">
  
  <div class="row">
  
  <div class="col-lg-7 d-flex justify-content-center align-items-center">
  <span class="d-flex justify-content-center align-items-center">
  <i class="fa fa-phone emg-i phone"></i>
  </span>
  <div class="emg-content d-flex flex-column justify-content-center align-items-md-center ms-4">
    <h3 class="em-h">Emergency Call: </h3>
    <p class="fs-5 em-p text-white">Immediate Assistance Available - Dial Now!</p>
  </div>
  
  
  
  </div>
  
  
  <div class="col-lg-5 d-flex justify-content-center align-items-center">
    <h1>+91 81388 62626</h1>
  </div>
  
  
  </div>
  
  </div>
  
  
  
  <div class="col-lg-4 d-flex justify-content-center right-emg pt-4 pb-3 ">
    <span class="d-flex justify-content-center align-items-center">
    <i class="fa fa-download emg-i"></i>
    </span>
  <div class="emg-content ms-4">
    <h6>Download</h6>
    <h1>BROCHURE</h1>
  </div>
  </div>
  
  </div>
  
    </div>
    
    </div>
  
  
  
  </section>
  
  
  
<!-- Department section end -->



<!-- Package-section start -->

<section class="package">
  <div class="container-lg">
  
    <div class="pack-heading d-lg-flex justify-lg-content-between ps-lg-4 pe-lg-4">
  <h1 class="pack-h">
    GMRL Laboratories: <br>
  Unveiling Our Range of Health Packages
  </h1>
  <div class="btn pack-btn">
    <a href="../">
  <button type="button" class="btn btn-primary rounded-pill ps-4 pe-4 intro-btn mt-4">View More</button>
    </a>
  </div>
    </div>
  
  <div class="pack-slider">
  
  <!-- image slide start -->
  
  <div class="container-lg swiper review-container mt-5 d-flex justify-content-center">
    <div class="slide-container-2">
      <div class="card-wrapper swiper-wrapper">
  
        <a href="/executive-package/">
        <div class="card swiper-slide card-1">
          <div class="" style="border: none;">
            <div class="enquiry-img">
              <div class="en-imgs">
            <img src="{% static 'img/executive-package.jpg' %}" class="img-fluid en-img" alt="...">
  
              </div>
              <span class="en-span"><h5>From: <i class="fa fa-rupee"></i> 2499</h5></span>
            <div class="middle">
              <a href=""><i class="fa fa-link text-white fs-2"></i></a>
             </div>
            </div>
            <div class="card-body">
              <p class="card-text ">Executive Package</p>
             <i class="fa fa-angle-right fs-3"></i>
            </div>
          </div>
        </div>
        </a>
  
        <a href="/ayush-general/">
        <div class="card swiper-slide card-2">
          <div class="" style="border: none;">
            <div class="enquiry-img">
              <div class="en-imgs">
            <img src="{% static 'img/package2.jpg' %}" class="img-fluid en-img" alt="...">
              </div>
              <span class="en-span"><h5>From: <i class="fa fa-rupee"></i> 699</h5></span>
            <div class="middle">
              <a href=""><i class="fa fa-link text-white fs-2"></i></a>
             </div>
              </div>
            <div class="card-body">
              <p class="card-text ">Ayush General</p>
             <i class="fa fa-angle-right fs-3"></i>
            </div>
          </div>
        </div>
        </a>
  
        <a href="/ayush-silver-plan/">
        <div class="card swiper-slide card-3">
          <div class="" style="border: none;">
            <div class="enquiry-img">
              <div class="en-imgs">
            <img src="{% static 'img/package3.jpg' %}" class="img-fluid en-img" alt="...">
              </div>
              <span class="en-span"><h5>From: <i class="fa fa-rupee"></i> 999</h5></span>
            <div class="middle">
              <a href=""><i class="fa fa-link text-white fs-2"></i></a>
             </div>
              </div>
            <div class="card-body">
              <p class="card-text ">Ayush Silver Plan</p>
             <i class="fa fa-angle-right fs-3"></i>
            </div>
          </div>
        </div>
        </a>
  
        <a href="/ayush-diabetic/">
        <div class="card swiper-slide card-4">
          <div class="" style="border: none;">
            <div class="enquiry-img">
              <div class="en-imgs">
            <img src="{% static 'img/package4.jpg' %}" class="img-fluid en-img" alt="...">
              </div>
              <span class="en-span"><h5>From: <i class="fa fa-rupee"></i> 999</h5></span>
            <div class="middle">
              <a href=""><i class="fa fa-link text-white fs-2"></i></a>
             </div>
              </div>
            <div class="card-body">
              <p class="card-text text-center">Ayush Diabetic & Kidney Care</p>
             <i class="fa fa-angle-right fs-3"></i>
            </div>
          </div>
        </div>
        </a>
  
        <a href="/ayush-gold/">
        <div class="card swiper-slide card-4">
          <div class="" style="border: none;">
            <div class="enquiry-img">
              <div class="en-imgs">
            <img src="{% static 'img/package5.jpg' %}" class="img-fluid en-img" alt="...">
              </div>
              <span class="en-span"><h5>From: <i class="fa fa-rupee"></i> 1700</h5></span>
            <div class="middle">
              <a href=""><i class="fa fa-link text-white fs-2"></i></a>
             </div>
              </div>
            <div class="card-body">
              <p class="card-text ">Ayush Gold</p>
             <i class="fa fa-angle-right fs-3"></i>
            </div>
          </div>
        </div>
        </a>
  
        <a href="/cardiac/">
        <div class="card swiper-slide card-4">
          <div class="" style="border: none;">
            <div class="enquiry-img">
              <div class="en-imgs">
            <img src="{% static 'img/cardiac.jpg' %}" class="img-fluid en-img" alt="...">
              </div>
              <span class="en-span"><h5>From: <i class="fa fa-rupee"></i> 4900</h5></span>
            <div class="middle">
              <a href=""><i class="fa fa-link text-white fs-2"></i></a>
             </div>
              </div>
            <div class="card-body">
              <p class="card-text ">Advanced Cardiac Risk Cover Package</p>
             <i class="fa fa-angle-right fs-3"></i>
            </div>
          </div>
        </div>
        </a>
  
  
        
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-2"></div>
  </div>
  
  
  <!-- image slide end -->
  
  </div>
  
  </div>
  
  </section>


<!-- Package-section end -->


<!-- Testimonial-section start -->

<section class="testimonials">
  <div class="container-lg pt-5">
  
    <h1 class="pack-h text-center">
     Our Testimonials
    </h1>
  
  
    <div class="container-lg swiper review-container mt-3 d-flex justify-content-center">
      <div class="slide-container-3">
        <div class="card-wrapper swiper-wrapper">
          <div class="card swiper-slide card-test" style="width: 30rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus veritatis accusantium deleniti cumque, ipsum, natus alias, tempore sint rerum vitae maiores fugit ducimus necessitatibus? Asperiores similique modi at nobis sint!</li>
              <li class="list-group-item card-name d-flex">
                <img src="{% static 'img/testimonial-bg.png' %}" alt="" width="60px" height="60px">
                <div class="contents">
                  <h5>James</h5>
                  <p>Kerala</p>
                </div>
              </li>
             
            </ul>
          </div>
          <div class="card swiper-slide card-test" style="width: 30rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus veritatis accusantium deleniti cumque, ipsum, natus alias, tempore sint rerum vitae maiores fugit ducimus necessitatibus? Asperiores similique modi at nobis sint!</li>
              <li class="list-group-item card-name d-flex">
                <img src="{% static 'img/testimonial-bg.png' %}" alt="" width="60px" height="60px">
                <div class="contents">
                  <h5>Samuel</h5>
                  <p>Kerala</p>
                </div>
              </li>
             
            </ul>
          </div>
          <div class="card swiper-slide card-test" style="width: 30rem;">
           <ul class="list-group list-group-flush">
          <li class="list-group-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus veritatis accusantium deleniti cumque, ipsum, natus alias, tempore sint rerum vitae maiores fugit ducimus necessitatibus? Asperiores similique modi at nobis sint!</li>
          <li class="list-group-item card-name d-flex">
            <img src="{% static 'img/testimonial-bg.png' %}" alt="" width="60px" height="60px">
            <div class="contents">
              <h5>Rahul</h5>
              <p>Mumbai</p>
            </div>
          </li>
         
        </ul>
          </div>
          <div class="card swiper-slide card-test" style="width: 30rem;">
            <ul class="list-group list-group-flush">
                
              <li class="list-group-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus veritatis accusantium deleniti cumque, ipsum, natus alias, tempore sint rerum vitae maiores fugit ducimus necessitatibus? Asperiores similique modi at nobis sint!</li>
              <li class="list-group-item card-name d-flex">
                <img src="{% static 'img/testimonial-bg.png' %}" alt="" width="60px" height="60px">
                <div class="contents">
                  <h5>John</h5>
                  <p>Chennai</p>
                </div>
              </li>
             
            </ul>
          </div>
          
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-3"></div>
    </div>
  </div>

  </section>
  
<!-- Testimonial-section end -->



<!-- enquiry section start -->

<section class="enquiry">

  <div class="container-lg en">
  
  <div class="row">
  
  <div class="col-lg-8 col-md-12 col-sm-12">
  
    <h1 class="pack-h ">
      Embrace Excellence: <br>
      Why GMRL Laboratories Stands Out
     </h1>
  <div class="en-con-1 mt-5">
  <p>At GMRL Laboratories, we stand out as a beacon of excellence, offering top-notch diagnostic services and a commitment to your well-being.</p>
  </div>
  <div class="en-con-2 mt-4">
  <p><i class="fa fa-check"></i>  Cutting-edge, precision diagnostic technology</p>
  <p><i class="fa fa-check"></i> A highly skilled, dedicated team of healthcare professionals</p>
  <p><i class="fa fa-check"></i>  Stringent quality control protocols to ensure result accuracy</p>
  <p><i class="fa fa-check"></i>  An extensive selection of comprehensive Health Check Up Packages</p>
  <p><i class="fa fa-check"></i>  Competitive and accessible pricing to promote your health</p>
  <p><i class="fa fa-check"></i>  Convenient, patient-centric services for your well-being</p>
  </div>
  
  </div>
  
  <div class="col-lg-4 col-md-12 col-sm-12 form-section">
  
  <div class="form-heading">
    <h1 class="text-center mt-5 mb-3 pack-h">Enquiry</h1>
    <p class="text-center">For any inquiries, please feel free to <br>
      reach out to us.</p>
  </div>
    <form action="" method="POST" class="container-lg">
      {% csrf_token %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <b>{{message}}</b>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
    <input class="form-control mt-3" type="text" name="name" placeholder="Your Name" aria-label="default input example" required>
    <input class="form-control mt-3" type="email" name="email" placeholder="Email" aria-label="default input example" required>
    <input class="form-control mt-3" type="tel" name="phone" placeholder="Phone" aria-label="default input example" pattern="[6-9].*[0-9].{8}" required>
    <textarea class="form-control mt-3" id="exampleFormControlTextarea1" rows="3" name="messge" placeholder="Message"></textarea>
    <div class=" d-flex justify-content-center">
    <button type="submit" class="form-btn mt-3 mb-5 rounded" name="save">Submit</button>
    </div>
    </form>
  
  </div>
  
  </div>
  
  </div>
  
  </section>
  
  <!-- enquiry section end -->
  
<!-- Footer-section start -->

<footer>

{% include 'footer.html' %}

</footer>


 <!-- Footer-section end -->
 <a href="https://api.whatsapp.com/send?phone=+918138862626&amp;text=Hello"><i class="fa fa-whatsapp whatsapp-icon"></i></a>



<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


<script src="{% static 'js/script.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  </body>
</html>