<!DOCTYPE html>
<html>
<head>
<style>
body {
font-family: Arial, sans-serif;
}

h1 {
color: #445588;
}

p {
margin-bottom: 20px;
line-height: 1.5;
}

.highlight {
color: #445588;
}
</style>
</head>
<body>

<h1>Biochemistry</h1>
<p>Explore the realm of biochemical insights at GMRL Laboratories. Our Biochemistry Department</p>
<p>combines advanced technology and expert analysis to provide comprehensive assessments,</p>
<p>contributing to your overall health and well-being. From metabolic screenings to specialized tests,</p>
<p class="highlight">we're dedicated to delivering precise and timely results.</p>

</body>
</html>